.improve {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    margin-block-end: 10%;
  }
  .combo-box label {
    font-size: 20px; 
  }
  .combo-box1 select {
    margin-left: 15.7%;
    background-color: blue; 
    color: white; 
    font-size: 20px; 
  }
  .combo-box2 select {
    margin-left: 5%;
    background-color: blue; 
    color: white; 
    font-size: 20px; 
  }
  button{
    border-radius: 4px;
  }
  input{
    margin-left: 1%;
  }
  .text-section {
    margin-top: 3%;
    margin-left: 15%;
    flex: 1;
  }
  
  .image-section {
    margin-top: 70px;
    flex: 0.5;
  }
  