.landing-my-space {
    background-color: #d9ebfd;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

h2 {
    color: blue;
    font-family: Arial, sans-serif;
}

.p-text {
    color: black;
}
button {
    border-radius: 4px;
}

input {
    margin-left: 1%;
}

.text-section {
    margin-top: 3%;
    margin-left: 15%;
    flex: 1;
}

.image-section {
    flex: 0.7;
}