.graficas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.combo-box select {
    margin-left: 40%;
    background-color: blue; 
    color: white; 
    font-size: 25px; 
}

.seguimiento-info {
    background-color: #D9EBFD;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 100px;
}
.font-weight-bold {
    font-weight: bold;
}