.beneficios-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .beneficios-text {
    flex: 1;
    padding: 20px;
  }
  
  .beneficios-image {
    flex: 1;
  }
  
  