.landing-section {
    background-color: #fef9de; 
    display: flex;
    align-items: center;
    height: 50vh;  
}
  
  .content {
    margin-left: 10%;
    font-family: Arial, sans-serif; 
    color: blue; 
    text-align: left; 
  }
  
  h1 {
    font-size: 3rem; 
  }
  
  p {
    font-size: 1rem; 
  }
  
  .orange-button {
    background-color: #FFA500; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  