.button-container {
    display: flex;
    justify-content: space-around;
  }
  .download-text {
    flex: 0.9;
  }
  .download-button {
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  .app-button:hover {
    background-color: #333; 
  }
  
  .app-button img {
    width: 40px; 
    height: 40px; 
    margin-bottom: 5px;
  }
  
  
  
  
  
  