#container {
  width: 100vw;
  height: 100vh;
  /* position: relative; */
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
}

.text-right  {
  text-align: right;
}

/* Form starts */
.title-form {
  color: #113492;
  font-weight: 700;
  font-size: 1.5rem;
}
.input_options{
  color: #FF7800;
}
.submit-button {
  background-color: #FF7800;
  border: none;
  border-radius: 21px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;

}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
/* Form ends */

.section-left {
  background-color: #022B95;
  padding: 0;
  height: 100%;
  max-width: 40%;
}

.section-right {
  background-color: #fff;
  padding: 0;
  height: 100%;
  max-width: 60%;
  margin: 0 auto;
}

.volver-button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: #FF7800;
  cursor: pointer;
  display: flex;
  gap: 2px;
  align-items: center;
  
}

.footer {
  font-size: 0.8rem;
  max-width: 80%;
  margin: 0 auto;
}

.footer .candado {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 5px;
}

.footer_top{
  max-width: 550px;
}

.footer_item {
  max-width: 200px;
}