.landing-action {
    display: flex;
    justify-content: space-between;
}
.red-light {
    color: red;
}
.text-above {
    color: blue;
    font-family: Arial, sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.help-section ul li {
    margin-top: 20px; 
}
.features {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.feature {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}
.feature:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.icon {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
}

.help-section {
    width: 30%;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}
