.education-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 5%;
  }
  
  .education-text {
    flex: 1;
    padding: 20px;
  }
  p{
    color: orange;
  }
  .education-image {
    flex: 1;
  }
  
  